.heading{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}


img{
    width: 150px;
}

.nav-items > ul {
    display: flex;
    list-style: none;

}

.nav-items > ul > li{
    padding: 10px;
    font-size: 20px;
}

.serach-bar {
    width: 100%;
    display: flex;
    margin: 10px;
    padding: 20px;

}
.res-container{
    display: flex;
    flex-wrap: wrap;
    
}

.rest-card{
    /* flex-wrap: wrap; */
    width: 200px;
    /* height: 400px; */
    padding: 20px;
    margin: 30px;
}
.rest-card:hover{
    border : 1px solid white;
    cursor: pointer;
}



.rest-card > img {
    
    border-radius: 20px;
    width: 100%;
      
  
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;

}
.shimmer-card{
   
    width: 200px;
    height: 300px;
    padding: 20px;
    margin: 30px;
    background-color: #D0CEBC;
    

}

.footer{
    /* display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    position: fixed;
    bottom: 0;
    left: 0; */
    /* //justify-content: center; */
    /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
 
  text-align: center;

}

.icon{
   font-size: 2rem;
}

.menu-items{
  
  
    
}
.res-info {
    border-style: outset;
    width: 100%;
    padding: 10px;
    margin: auto;
    text-align: center;


}

.res-info > h4 {
    font-weight: lighter;
    color: #454545;
}
.menu-items > li {
   list-style: none;
}

.menu-item{
    border-style: outset;
    width: 100%;
    padding: 10px;
    margin: auto;
    text-align: center;
    display: table;
    clear: both;
    content: "";
}

.menu-item-text{
    float: left;
    width: 70%;
}
.menu-item-img{
    float: right;
    width: 30%;
}

.routes{
    color: black;
    text-decoration: none;
}

.user-card{
    border-style: outset;
    width: 100%;
    padding: 10px;
    margin: auto;
    text-align: center;
    display: table;
    clear: both;
    content: "";
}

.user-card-text{
    float: left;
    width: 70%;
    font-weight: lighter;
    

}

.user-card-img{
    float: right;
    width: 30%;

}